<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Quiz Master{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="layout">
        <!-- Header -->
        <header class="header">
            <nav class="nav">
                <div class="nav-brand">
                    <h1>QuizMaster</h1>
                </div>
                <ul class="nav-menu">
                    <li><a href="{{ url_for('rules') }}">Правила квиза</a></li>
                    <li><a href="{{ url_for('start_quiz') }}">Начать квиз</a></li>
                    <li><a href="{{ url_for('quiz_editor') }}">Редактор Квиза</a></li>
                    <li><a href="{{ url_for('admin_editor') }}">Редактор Админа</a></li>
                </ul>
            </nav>
        </header>

        <div class="main-container">
            <!-- Aside (Боковая панель) -->
            <aside class="sidebar">
                <h3>Дополнительная информация</h3>
                <p>Планирую выводить новости, обновления, полезные факты и тп</p>
            </aside>

            <!-- Main Content (Основной контент) -->
            <main class="main-content">
                <!-- Этот блок будет заменяться контентом конкретной страницы -->
                {% block content %}{% endblock %}
            </main>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <p>&copy; 2023 QuizMaster. Все права защищены.</p>
        </footer>
    </div>
</body>
</html>
