



/* a{  
    padding: 10px 30px;            
    margin: 20px;
    display: inline-block;   */

    /* кнопка с картинкой */
    /* background-image: url(/static/pic/but1.png); */
    /* background-image: url(https://kartinki.pics/uploads/posts/2021-03/1616039993_51-p-fon-dlya-knopki-60.png); */            
    /* background-size: cover; */
    
    /* без картинки */
    /* border: 1px solid black; 
    border-radius: 10px;     
    background-color: #cfa4c5;
    color: black;        
    box-shadow:  5px 6px 12px;
}

a:active{ */
    /* когда нажали мышкой - опустить на 3 пикселя */
    /* transform: translateY(3px);
} */

.users p {
    /* text-align: center; */
    border: 1px solid black;
    background-color: rgb(199, 195, 217);
    margin: 2px;
    padding: 5px;
    /* padding: 15px 30px; */
    /* padding: 20px 10px 30px 50px; */
    /* padding-left: 10px; */

}

.users p:nth-child(2n){ /*каждый 2ой */
/* p:nth-child(3n+2){ каждый 3ий  со 2го        */
    background-color: rgb(217, 211, 233);
}

.users p:hover { /*при наведении мышкой*/
    background-color: rgb(177, 172, 193);
    color: rgb(82, 9, 79);
    /* font-size: 2rem; */
    
}


span{
    font-size: 1.3rem; /*150% от основного шрифта */
    color: rgb(65, 65, 117);
    font-style:italic;
}

.users{
    margin: 20px;
}

