{% extends 'base.html' %}

{% block title %}  Form1 {% endblock %}

{% block header_message %}
    <h1> HELLO FORM1 </h1>
{% endblock %}


{% block content %}
    
    <p class="err" > {{ err }} </p>

    <form action="" method="post">
        <fieldset>
        <legend>Форма 1</legend>
            <p>
                <!-- старый вариант label -->
                <!-- <label> Имя
                    <input type="text" name="name" required placeholder="Имя" value="{{name}}">
                </label> -->
                <label for="name">Имя</label>
                <input type="text" id="name" name="name" required placeholder="Имя" value="{{name}}">
            </p>
            <p> 
                <label for="surname"> Фамилия </label>
                <input type="text" name="surname" id="surname" placeholder="Фамилия" >
            </p>
            <p>
                <label for="email">Email</label>
                <input type="email"  id="email" name="email" placeholder="email">
            </p>
            <p>
                <label for="age">Возраст</label>
                <input type="number"  id="age" name="age" placeholder="возраст">
            </p>
            <p> 
                <label for="pass">Пароль</label>
                <input type="password"  id="pass" name="pass" placeholder="пароль">
            </p>
            
            <p>
            <input type="submit">
            <input type="reset">
            </p>
        </fieldset>

    </form>

{% endblock %}
